# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

static JTextArea content; // Khai báo ô nhập nội dung chat
    static JButton send; // Khai báo nút gửi nội dung
    static JTextField nhap, toName; // Khai báo ô nhập tên 
    static String chuoi=""; // Chuỗi nội dung tin chat giữa 2 máy
    static String temp=""; // Chuỗi tạm chứa thông tin xuất lên giao diện
    static ServerSocket serA; // Tạo socket server 
    static Socket s, sA; // Tạo socket kết nối
    static PrintWriter gui; // Khai báo biến gửi tin
    public static void main(String[] args)
    {
          new server();  // Hàm tạo đối tượng giao diện chat đã định nghĩa phía dưới
        
          try
          {
              serA = new ServerSocket(2222); // Tạo cổng kết nối với server ở cổng 2222
              s = serA.accept(); // Chấp nhận khi có kết nối 
              while(true) // Vòng lặp liên tục khi nhận được yêu cầu từ phía client gửi về
              {                         
               BufferedReader nhan = new BufferedReader(
                    new InputStreamReader(s.getInputStream()));  // Luồng nhận tin từ Client sẽ được lấy qua biến này          
                  while((chuoi = nhan.readLine())!= null) // Kiểm tra xem có tin để nhận từ Client hay không
                  {
                      temp+=chuoi+"\n"; // Khi tin mới được gửi về sẽ được tự động xuống hàng và gán vào biến tạm
                      content.setText(temp); // Đưa dữ liệu chat lên giao diện
                      content.setVisible(false); // Cập nhật lại giao diện
                      content.setVisible(true);// Cập nhật lại giao diện
                  }
                
              }         
          }
          catch (Exception e) {     // Xử lý ngoại lệ khi gặp lỗi
             e.printStackTrace();                  
          }
         
    }
 public server() {
        setSize(600,600); // Định nghĩa kích thước giao diện chat
        setTitle("Server"); // Tiêu đề giao diện
        Font f = new Font("Arial",Font.BOLD,20);  // Định nghĩa Font chữ nội dung   
       
        content = new JTextArea(); // Tạo mới thành phần từ khai báo phía trên
        content.setFont(f); // Đặt font đã định nghĩa và ô nội dung chat
        content.setBackground(Color.cyan); // Định nghĩa ô nền nội dung
        content.setEditable(false); // Đặt chế độ không có phép chỉnh sửa trên ô
        JScrollPane sp = new JScrollPane(content); // Định nghĩa cho phép scrolling trên ô nội dung nếu nội dung quá dài
        send = new JButton("Gửi"); // Định nghĩa nút gửi tin
        nhap = new JTextField(30); // Định nghĩa độ dài kí tự nhập vào khung tên
        nhap.setFont(f); // Đặt font đã khai báo phía trên cho khung tên
        toName = new JTextField("Nhập tên bạn");  // Đặt nội dung yêu cầu mặc định
        toName.setFont(f); // Định nghĩa font cho toName
        toName.setBackground(Color.pink); // Định nghĩa nền cho toName
       
        add(toName, BorderLayout.PAGE_START); // Chia bố cục cho toName nằm ở vị trí đầu tiên
        add(sp, BorderLayout.CENTER); // Chia bố cục cho sp nằm ở vị trí giữa
        add(nhap, BorderLayout.PAGE_END); // Chia bố cục cho khung nhập liệu ở vị trí cuối
        nhap.addActionListener(this); // Gán sự kiện khi người dùng nhấn gửi
       
        setVisible(true); // Cập nhật lại giao diện
        setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE); // Thoát giao diện khi đóng
    }
